#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
}

.card {
  padding: 1em 2em;
  background-color: #170e23;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
  transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}

.card:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.customFlexContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
