#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
}

.card {
  padding: 1em 2em;
  background-color: #170e23;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
  transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}

.card:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.customFlexContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

h2 {
  color: palevioletred;
  text-shadow: 2px 2px 4px #ff00ff;
}

.text {
  margin: 10px 0px;
}

.backButton {
  width: 80px;
  border-radius: 8px;
  border: none;
  padding: 0.3em 0.6em;
  margin-right: 90%;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #ff80bf;
  color: #ff80bf;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.backButton:hover {
  background-color: #ff00bf;
  color: white;
}

.backButton:focus,
.backButton:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #ff00bf;
}

.parent {
  padding: 1em 2em;
  background-color: #560db6;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
  transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}

.child {
  padding: 1em 2em;
  background-color: #32b60d;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
  transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}
