:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #05010d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #007aff;
  text-decoration: inherit;
}

a:hover {
  color: #0056b3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid #007aff;
  padding: 0.3em 0.6em;
  margin: 0 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #007aff;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #0056b3;
  border-color: #004088;
}

button:focus,
button:focus-visible {
  outline: 4px auto #0056b3;
}
